<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship Game Setup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
    <h1>The Game</h1>
</header>
<div class="userparent">
    <div class="user">
        <div>
            <h2>User Profile</h2>
            <br>
            Logged in: <strong>  {{user}} </strong>| <a href="{{ url_for('logout') }}"> Logout</a>
        </div>
    </div>
    <div class="setup">

        <h3 id="shiptext">Place ship of length <span id="shiplength"><u>5</u></span></h3>
        <h4 id="invalid" hidden>Invalid placement!</h4>
        <p>Ship orientation: </p>
        <label><input type="radio" name="orientation" id="h" checked>Horizontal</label>
        <label><input type="radio" name="orientation" id="v">Vertical</label>
        <p>
            <br><br>
            Place ship by clicking the board.
            <br><br>
            Horizontally it is placed to the <b>right</b> of the clicked cell.
            <br><br>
            Vertically it is placed <b>downwards</b> from the clicked cell.
        </p>
        <!-- Button to start/restart the game -->
        <form action = "/game" method="get">
            <button id="startsetup" name="startsetup" type="submit" value="find" hidden> Find Game</button>
        </form>

    </div>
    <div class="gamesetup-container">
        <h2>Game board setup</h2>
        <!-- Game grid for player's board -->
        <div class="grid" id="grid-p1">
        {% for row in range(10) %}
            {% for col in range(10) %}
                <div class="cell" id="cell-{{ row }}-{{ col }}"
                     onclick="handleCellClickSetup({{ row }}, {{ col }})"></div>
            {% endfor %}
        {% endfor %}
        </div>

    </div>
</div>

<script>
    let findgamebutton = document.getElementById("startsetup");
    findgamebutton.addEventListener('click', emptyShips);

    function emptyShips() {
        ships = []
    }
</script>

<footer>
    <p>&copy; 2024 The Game</p>
</footer>

<script src="../static/game.js"></script>
</body>
</html>
