<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form - The Game</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<script>
    function showAlert(message) {
        alert(message);
    }
</script>

<body>

<header>
    <h1> The Game </h1>
</header>

<div class="container">
    <form action="/login" method="post">
    <h2> Login </h2>
        {% if message is defined and message %}
        <h5> {{ message }} </h5>
        {% endif %}
        <br>
        <div class="form-group">
            <label for="name"> <strong>Username:</strong></label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="password"> <strong> Password:</strong></label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"><br/>
        </div>
        <button name="button" type="submit">Login</button>
        <p class="bottom">Don't have an account?  <a class="bottom" href="{{url_for('register')}}"> Register here</a></p>
    </form>
</div>

<footer>
    <p>&copy; 2024 The Game</p>
</footer>

</body>
</html>