<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>



<body>

<header>
    <h1>The Game </h1>
</header>

<div class="container">
    <form action="{{ url_for('register') }}" method="post">
        <h2> Register a new user</h2>
        {% if message is defined and message %}
            <div class="alert alert-warning">  <strong>  {{ message }} </strong></div>
        {% endif %}
        <br>
        <div class="form-group">
            <label><strong> Username:</strong></label>
             <input class="ok" type="text" class="form-control" id="name" name="name" placeholder="Enter name" name="name">
        </div>
        <div class="form-group">
            <label><strong>Password:</strong></label>
        <input class="ok" type="password" class="form-control" id="password" name="password" placeholder="Enter password" name="pswd">
        </div>
        <button class="btn" type="submit" class="btn btn-primary">Register</button>
        <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Login here</a></p>
    </form>
</div>

<footer>
    <p>&copy; 2024 The Game</p>
</footer>

</body>
</html>