<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to The Game</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<header>
    <h1>The Game </h1>
</header>

<div class="container">
    <form action="/user" method="post">
    <div>
        <h2>User Profile</h2>
    </div>
    <br>
    <div>
        Logged in: <strong class="user">  {{user}} </strong>| <a href="{{ url_for('logout') }}"> Logout</a>
    </div>
    <br><br>
    <div>
        <h3>Welcome to the Game</h3>
        <p> Press button to start creating your board </p>
        <button name="startgame" type="submit" value="start"> Create board</button>
    </div>
    </form>
</div>

<footer>
    <p>&copy; 2024 The Game</p>
</footer>

</body>
</html>